{% extends 'base_auth.html.twig' %}

{# {% block title %}Hello HomeController!{% endblock %} #}

{% block body %}


<div class="container">
    <div class="p-5 my-4   col-md-6 offset-md-3">
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}
        <h1 class="fw-bold mb-3">Mettre à jour les informations</h1>
        {{ form_errors(updateUserInfoForm) }}

        {{ form_start(updateUserInfoForm) }}
            <div class="row">
                <div class="col">
                    {{ form_row(updateUserInfoForm.firstName, {
                        label: 'Prénom'
                    }) }}
                </div>
                <div class="col">
                    {{ form_row(updateUserInfoForm.lastName, {
                        label: 'Nom'
                    }) }}
                </div>
            </div>
            
            <div class="row">
                <div class="col">
                    {{ form_row(updateUserInfoForm.phone, {
                        label: 'Téléphone',
                        help: 'Optionnel, pourra servir aux autres utilisateurs pour vous contacter'
                    }) }}
                </div>
                <div class="col">
                    {{ form_row(updateUserInfoForm.email, {
                        label: 'Email'
                    }) }}
                </div>
            </div>
            
            

            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-outline-primary">Mettre à jour</button>
            </div>
        {{ form_end(updateUserInfoForm) }}
    </div>
</div>
{% endblock %}
