{% extends 'base_auth.html.twig' %}

{# {% block title %}Hello HomeController!{% endblock %} #}

{% block body %}


<div class="container">
    <div class="p-5 my-4   col-md-4 offset-md-4">
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}
        <h1 class="fw-bold mb-3">Mettre à jour le mot de passe</h1>
        {{ form_errors(updateUserPasswordForm) }}

        {{ form_start(updateUserPasswordForm) }}
            {{ form_row(updateUserPasswordForm.currentPassword, {
                label: 'Mot de passe actuel'
            }) }}
            {{ form_row(updateUserPasswordForm.newPassword, {
                label: 'Nouveau mot de passe'
            }) }}
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Mettre à jour</button>
            </div>
        {{ form_end(updateUserPasswordForm) }}
    </div>
</div>
{% endblock %}
