<ul class="list-group">
    {% for userCircle in userCircles %}  
        <div class="list-group-item d-flex align-items-center" >
            <div class="ms-2 me-auto">
                <div class="fw-bold">{{userCircle.circle.name}}</div>
            </div>
            <div class="ms-2">
            {# data-bs-toggle="modal" #}
              <button 
                class="btn btn-sm btn-info btn-share-circle"  
                data-bs-target="#shareCircleModal" 
                data-circle-uri="{{url('app_circle_join_identified', {shortId : userCircle.circle.shortId})}}" 
                data-circle-name="{{userCircle.circle.name}}" 
              >
              <i class="bi bi-share-fill me-2"></i>Partager</button>
              {% if is_granted('browse', userCircle.circle) %}
              <a 
                class="btn btn-sm btn-outline-primary" 
                href="{{path('app_circle_show', {circle:userCircle.circle.id})}}" 
                data-bs-toggle="tooltip" 
                data-bs-title="Chercher un objet dans la boîte à partage : '{{userCircle.circle.name}}'" 
                data-bs-placement="right"
              >
              <i class="bi bi-search me-2"></i>Consulter</a>
              {% else %}
              <div
                class="d-inline-block"
                data-bs-toggle="tooltip" 
                data-bs-title="Pour chercher un objet dans une boîte vous devez valider votre email et ajouter au moins 5 objets dans votre placard." 
                data-bs-placement="right"
              >
                <a class="btn btn-sm btn-outline-primary disabled">
                <i class="bi bi-search"></i>
                </a>
              </div>
              {% endif %}

            </div>
        </div>
    {% endfor %}
</ul>

<!-- Modal -->
<div class="modal fade" id="shareCircleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>