<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Boîte à Partage{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/logo-circle-blue.svg') }}">
        <link rel="manifest" href="{{ asset('files/manifest.json') }}">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/app.scss') }}">
        {% endblock %}

        {% block javascripts %}
            <div class="hidden" id="swLocation" data-content="{{ asset('js/sw.js') }}"></div>
            {% block importmap %}{{ importmap(['app']) }}{% endblock %}
        {% endblock %}
    </head>
    <body class="d-flex flex-column justify-content-start" style="min-height:100vh;">
        {% block navbar %}{% include 'navbar.html.twig' %}{% endblock %}
        {% block flash_message %}{% include 'flash_messages.html.twig' %}{% endblock %}
        {% if app.current_route != "app_home" %}
            {% block fil_ariane %}{% include 'fil_ariane.html.twig' %}{% endblock %}
        {% endif %}
        
        {% block body %}{% endblock %}
        {% block footer %}{% include 'footer.html.twig' %}{% endblock %}
    </body>
</html>