<nav class="navbar navbar-expand-lg bg-body-tertiary py-4">
  <div class="container-fluid d-flex justify-content-center">
        <a class="navbar-brand self-align-start" href="#">
            <img src="{{asset('img/logo-pizza.svg')}}" alt="La Boîte à Partage" width="50" height="50">
        </a>
        <a class="navbar-brand fs-2 px-4 fw-bold" href="{{path('app_home')}}">La Boîte à Partage</a>
        <div class="px-4">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item me-5">
                        <a class="nav-link {% if app.current_route|split('_')[1] == 'register' and registrationPurpose == 'createCircle' %}fw-bold{% endif %}" href="{{path('app_register', {'registrationPurpose': 'createCircle'})}}"><i class="bi bi-plus-square me-1"></i>Créer une boîte</a>
                    </li>
                    <li class="nav-item me-5">
                        <a class="nav-link {% if app.current_route|split('_')[1] == 'register' and registrationPurpose in ['joinCircle','joinCircleId'] %}fw-bold{% endif %}" href="{{path('app_register', {'registrationPurpose': 'joinCircle'})}}"><i class="bi bi-box-arrow-in-up-right me-1"></i>Rejoindre une boîte</a>
                    </li>
                    <li class="nav-item me-5">
                        <a class="nav-link {% if app.current_route == 'app_manifeste' %}fw-bold{% endif %}" href="{{ path('app_manifeste') }}"><i class="bi bi-file-text me-1"></i>Manifeste</a>
                    </li>
                </ul>
            </div>
        </div>
        {% if app.user %}
            <a class="btn btn-outline-primary  px-4" href="{{ path('app_auth_home') }}"><i class="bi bi-box-arrow-up-right me-1"></i>Aller sur l'App</a>

        {% else %}
            <a class="btn btn-outline-primary  px-4" href="{{ path('app_login') }}"><i class="bi bi-person-circle me-1"></i>Connexion</a>
        {% endif %}
        
  </div>
</nav>