{% extends 'base_auth.html.twig' %}

{% block title %}Ajout au Placard{% endblock %}

{% block body %}

<div class="container">
    <div class="p-2 p-lg-5 col-md-6 offset-md-3">
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}
        <h1 class="fw-bold mb-3">{% if updateMode|default(false) %}Mettre à jour un objet{% else %}Ajouter un livre{% endif %}</h1>
        <div
            class="alert alert-warning  d-none"
            role="alert"
        >
            <div class="d-flex justify-content-start">
                <span class="me-3"><i class="bi bi-info-circle"></i></span>
                <span>Veuillez noter que par défaut, si vous avez rejoint plusieurs boîtes, <strong>tous les éléments</strong> de votre placard seront partagés dans <strong>toutes vos boîtes</strong>.</span>
            </div>
        </div>

        <div class="d-lg-flex">
            <div class="col-12 col-md-6">
                <label for="" class="form-label">Scanner le code barre d'un livre</label>
                <div class="d-grid gap-2 px-2">
                    <button class="btn btn-primary" id="openScanner"><i class="bi bi-upc-scan me-2"></i>Ouvrir la caméra</button>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <label for="exampleFormControlInput1" class="form-label">Rechercher un livre</label>
                <div class="d-grid gap-2 px-2">
                    <input type="text" class="form-control" id="searchBookInput" placeholder="Petit pays gaël Faye">
                </div>
            </div>
        </div>
        <hr>
             <div id="scanResults">
            <ul class="list-group">
            </ul>
        </div>
        <section id="container" class="container d-none">
            <div class="controls">
                <fieldset class="input-group" >
                    <button class="btn btn-primary stop d-none">Stop</button>
                </fieldset>
                <fieldset class="reader-config-group">
                    <label class="d-none">
                        <span>Barcode-Type</span>
                        <select name="decoder_readers">
                            <option value="code_128">Code 128</option>
                            <option value="code_39">Code 39</option>
                            <option value="code_39_vin">Code 39 VIN</option>
                            <option value="ean" selected="selected">EAN</option>
                            <option value="ean_extended">EAN-extended</option>
                            <option value="ean_8">EAN-8</option>
                            <option value="upc">UPC</option>
                            <option value="upc_e">UPC-E</option>
                            <option value="codabar">Codabar</option>
                            <option value="i2of5">Interleaved 2 of 5</option>
                            <option value="2of5">Standard 2 of 5</option>
                            <option value="code_93">Code 93</option>
                        </select>
                    </label>
                    <label class="d-none">
                        <span>Resolution (width)</span>
                        <select name="input-stream_constraints">
                            <option value="320x240">320px</option>
                            <option selected="selected" value="640x480">640px</option>
                            <option value="800x600">800px</option>
                            <option value="1280x720">1280px</option>
                            <option value="1600x960">1600px</option>
                            <option value="1920x1080">1920px</option>
                        </select>
                    </label>
                    <label class="d-none">
                        <span>Patch-Size</span>
                        <select name="locator_patch-size">
                            <option value="x-small">x-small</option>
                            <option value="small">small</option>
                            <option selected="selected" value="medium">medium</option>
                            <option value="large">large</option>
                            <option value="x-large">x-large</option>
                        </select>
                    </label>
                    <label class="d-none">
                        <span>Half-Sample</span>
                        <input type="checkbox" checked="checked" name="locator_half-sample" />
                    </label>
                    <label class="d-none">
                        <span>Workers</span>
                        <select name="numOfWorkers">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option selected="selected" value="4">4</option>
                            <option value="8">8</option>
                        </select>
                    </label>
                    <label>
                        <span>Camera</span>
                        <select name="input-stream_constraints" id="deviceSelection">
                        </select>
                    </label>
                    <label style="display: none">
                        <span>Zoom</span>
                        <select name="settings_zoom"></select>
                    </label>
                    <label style="display: none">
                        <span>Torch</span>
                        <input type="checkbox" name="settings_torch" />
                    </label>
                </fieldset>
            </div>
        <div id="result_strip">
            <ul class="thumbnails"></ul>
            <ul class="collector"></ul>
        </div>
        <div id="interactive" class="viewport"></div>
        </section>
        {{ form_errors(form) }}
        {{ form_start(form) }}
            {{ form_row(form.description, {
                label: 'Description',
                attr :{
                    "autofocus":"true"
                },
                help: 'Ajoutez un maximum de précision sur l\'objet (max 255 caractères)'
            }) }}
            {{ form_row(form.category, {
                label: 'Catégorie'
            }) }}
            <div class="row ">
                <div class="col d-flex justify-content-end">
                    {{ form_row(form.submitAndAdd) }}
                    <div class="ms-2">
                        {{ form_row(form.submit) }}
                    </div>
                </div>
            </div>
        {{ form_end(form) }}
   
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {% block importmap %}
     {{ importmap(['app', 'itemAdd']) }}
    {% endblock %}
{% endblock %}