{% extends 'base_auth.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}


<div class="container">
  <div class="row">
    <div class="col-12 p-5 my-4 ">
      <div class="bg-body-tertiary p-5 rounded-3">
        <h1 class="fs-3 fw-bold mb-3">Chercher un objet</h1>

        <div class="input-group mb-3">
          {% if userCircles|length >1 %}
            <label class="input-group-text" for="inputGroupSelect02">Sélectionnez un cercle</label>
            <select class="form-select" id="inputGroupSelect02">
              {% for userCircle in userCircles %}  
                <option>{{userCircle.circle.name}}</option>
              {% endfor %}
            </select>
          {% endif %}
          <input class="form-control form-control-lg" type="text" placeholder="Visseuse électrique" aria-label="input search">
          <button class="btn btn-primary">Chercher</button>
        </div>


        <div class="input-group">
          
        </div>
        
      </div>
    </div>
    <div class="col-md-6 px-5 pb-5">
      <div class="bg-body-tertiary p-5 rounded-3">
        <h1 class="fs-3 fw-bold mb-3">{% if userCircles|length != 0 %}Vos {%endif%}Cercles</h1>
        {% if userCircles|length == 0 %}
          <p class="fs-4">Vous n'appartenez pas encore à un cercle. Vous pouvez en créer un ou en rejoindre un.</p>
          <div class="d-flex justify-content-between">
            <a href="{{path('app_circle_create')}}" path class="btn btn-primary btn-lg" type="button"><i class="bi bi-plus-circle me-2"></i>Créer un cercle</a>
            <a href="{{path('app_circle_join')}}" class="btn btn-outline-primary btn-lg" type="button"><i class="bi bi-person-fill-add me-2"></i>Rejoindre un cercle</a>
          </div>
        {% else %}
          <ul class="list-group">
            {% for userCircle in userCircles %}  
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">{{userCircle.circle.name}}</div>
                  {% if userCircle.circle.address %}{{userCircle.circle.address}}</br>{% endif %}
                  {{userCircle.circle.postcode}} {{userCircle.circle.city}}
                </div>
                <span class="badge text-bg-primary rounded-pill">{{userCircle.circle.userCircles|length}} membre(s)</span>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
        
      </div>
    </div>
    <div class="col-md-6 px-5 pb-5">
      <div class="bg-body-tertiary p-5 rounded-3">
        <h1 class="fs-3 fw-bold">Votre Placard</h1>
        {% if userItems|length == 0 %}
          <p class="fs-4">Votre placard semble vide. Ajoutez des éléments pour pouvoir les partager dans vos cercles.</p>
          <div class="d-flex justify-content-between">
            <a href="{{path('app_item_create')}}" class="btn btn-primary btn-lg" type="button"><i class="bi bi-plus-circle me-2"></i>Ajouter un premier élément</a>
          </div>
        {% else %}
          <p class="fs-4">Votre placard comporte <a href="{{path('app_item')}}">{{userItems|length}} élément(s)</a>.</p>
          <div class="d-flex justify-content-between">
            <a href="{{path('app_item_create')}}" class="btn btn-primary btn-lg" type="button"><i class="bi bi-plus-circle me-2"></i>Ajouter d'autres éléments</a>
          </div>
        {% endif %}
        
        
        
      </div>
    </div>
  </div>

</div>
{% endblock %}
