{% extends 'base_auth.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row">
			{# Search part #}
			<div class="col-12">
				<div class="px-lg-5 pt-5">
					<h1 class="fs-3 fw-bold mb-3">Chercher un objet</h1>
					{% if userCircles|length > 0 %}
						{% if is_granted('browse', userCircles[0].circle) %}
							<form id="homeSearchForm">
								<div class="input-group mb-3">
                  <input class="form-control form-control-lg" type="text" placeholder="Moule à cake" aria-label="input search" id="searchTermsInput">
                  <input type="hidden" id="targetPathInput" value="{{path('app_circle_show_all')}}">
                  <button class="btn btn-primary" type="submit" id="searchObject">Chercher</button>
								</div>
							</form>
						{% else %}
							<div class="alert alert-warning">
								Pour chercher un objet dans une boîte vous devez :</br>
                <ul>
                  {% if app.user.isVerified != true %}
                    <li>
                      Valider votre email
                    </li>
                  {% endif %}
                  <li>
                    Ajouter au moins
                    <strong>5 objets</strong>
                    dans
                    <a class="link-offset-1" href="{{path('app_item_create')}}">votre placard</a>
                  </li>
                </ul>
              </div>
					{% endif %}
				{% else %}
					{# User doesn't belong to a circle yet => Invite to create or join one #}
					<div class="alert alert-warning">
						Pour chercher un objet dans une boîte vous devez :</br>
            <ul>
              {% if app.user.isVerified != true %}
                <li>
                  Valider votre email
                </li>
              {% endif %}
              <li>
                <a class="link-offset-1" href="{{path('app_circle_create')}}">Créer une boîte</a>
                ou en
                <a class="link-offset-1" href="{{path('app_circle_join')}}">
                  Rejoindre une</a>
              </li>
              <li>
                Ajouter au moins
                <strong>5 objets</strong>
                dans
                <a class="link-offset-1"href="{{path('app_item_create')}}">votre placard</a>
              </li>
            </ul>
          </div>
			  {% endif %}
        </div>
      </div>
      {# Circles part #}
      <div class="col-12 col-lg-6 pt-5 ">
        <div class="px-lg-5">
          <h1 class="fs-3 fw-bold mb-3">Vos Boîtes</h1>
          {{ include('app_circle/circle_list_component.html.twig') }}
          <div class="mt-3">
            <a href="{{path('app_circle_create')}}" class="link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" type="button">
              <i class="bi bi-plus-square me-2"></i>Créer une boîte</a>
            <a href="{{path('app_circle_join')}}" class="ms-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" type="button">
              <i class="bi bi-box-arrow-in-up-right me-2"></i>Rejoindre une boîte</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 pt-5">
        {# Object part #}
        <div class="px-lg-5">
          <h1 class="fs-3 fw-bold mb-3">Votre Placard</h1>
          
          <div class="p-2">
            {% if userItems|length < 5 %}
              <div class="alert alert-warning">
                Ajoutez au moins <b>5 objets</b> pour interagir avec vos boîtes à partage.
              </div>
            {% endif %}
            {% if userItems|length > 0 %}
              <div class="mb-2">Derniers objets ajoutés :</div>
            {% endif %}
            {% include 'app_item/item_list_component.html.twig' with {'limit': 5} %}
            <div class="mt-3">
              <a class="link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{{path('app_item_create')}}" ><i class="bi bi-plus-square me-2"></i>Ajouter des objets</a>
              {% if userItems|length > 0 %}
                <a class="ms-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{{path('app_item')}}"><i class="bi bi-eye me-2"></i>Voir tout</a>
              {% endif %}
            </div>
        </div>




          {# {% if userItems|length == 0 %}
            <p class="">Votre placard est vide. Ajoutez des objets pour pouvoir les partager dans les boîtes.</p>
            <div class="d-flex justify-content-between">
              <a href="{{path('app_item_create')}}" class="link-primary">
                <i class="bi bi-plus-square me-2"></i>Ajouter un premier objet</a>
            </div>
          {% else %}
            <p class="">Votre placard comporte
              <a href="{{path('app_item')}}">{{userItems|length}}
                objet(s)</a>.</p>
            <div class="d-flex justify-content-between">
              <a href="{{path('app_item_create')}}" >
                <i class="bi bi-plus-square-fill me-2"></i>Ajouter des objets</a>
            </div>
          {% endif %} #}
        </div>
      </div>
		</div>
</div>

{% endblock %}{% block javascripts %}
{% block importmap %}
	{{ importmap(['app','shareCircle']) }}
{% endblock %}{% endblock %}
